<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FCODE.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".view.actCourse"
            android:exported="false" />
        <activity
            android:name=".view.newInformation"
            android:exported="false" />
        <activity
            android:name=".view.ActivityInformation"
            android:exported="false" />
        <activity
            android:name=".view.upDataInfomation"
            android:exported="false" />
        <activity
            android:name=".view.Home"
            android:exported="false" />
        <activity
            android:name=".view.newPassword"
            android:exported="false" />
        <activity
            android:name=".view.otpConfirm"
            android:exported="false" />
        <activity
            android:name=".view.SignUp"
            android:exported="false" />
        <activity
            android:name=".view.forgotPassword"
            android:exported="false" />
        <activity
            android:name=".view.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>